@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Equinox';
	src: url('fonts/EquinoxBold.otf');
}
@media (min-width: 640px) {
	body {
		font-family: __Inter_0ec1f4, __Inter_Fallback_0ec1f4;
		font-style: normal;
		background-image: url('/src/assets/astro2.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: 100vw 110vh;
	}
}
@media (min-width: 640px) {
	body {
		font-family: __Inter_0ec1f4, __Inter_Fallback_0ec1f4;
		font-style: normal;
		background-image: url('/src/assets/astro2.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: 100vw 110vh;
	}
}
@media (max-width: 639px) {
	body {
		font-family: __Inter_0ec1f4, __Inter_Fallback_0ec1f4;
		font-style: normal;
		background-image: url('/src/assets/astro1.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: 100vw 110vh;
	}
}
@font-face {
	font-family: __Inter_0ec1f4;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('fonts/2aaf0723e720e8b9-s.p.woff2') format('woff2');
	unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
		U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191,
		U+2193, U+2212, U+2215, U+feff, U+fffd;
}
.equinox {
	font-family: 'Equinox';
}
.carousel-item {
	@apply absolute;
}
.miniCard {
	background-size: '110px 70px';
	background-position: 'bottom 20px right 20px ';
	background-repeat: 'no-repeat';
}

@font-face {
	font-family: __Inter_Fallback_0ec1f4;
	src: local('Arial');
	ascent-override: 90.2%;
	descent-override: 22.48%;
	line-gap-override: 0%;
	size-adjust: 107.4%;
}

.__className_0ec1f4 {
	font-family: __Inter_0ec1f4, __Inter_Fallback_0ec1f4;
	font-style: normal;
}

.titulo {
	font-family: 'Equinox';
	font-weight: 400;
	color-scheme: light dark;
}

.conte-padre {
	position: relative;
	height: 100%;
	z-index: 0;
}

.conte-degradado {
	pointer-events: none;
	/* Mantener esta propiedad */
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.navbarButton {
	font-weight: 300;
}

.project p {
	opacity: 0;
	transition-duration: 500ms;
}

.project:hover p {
	opacity: 1;
	text-shadow: 0 2px 2px rgb(0 0 0 / 50%);
	box-shadow: #070706;
	position: relative;
}

.project img {
	transition-duration: 500ms;
}

.project:hover img {
	scale: 1.05;
	filter: blur(0.6px) brightness(0.7);
}

.project .git {
	border-radius: 50px;
	opacity: 0;
	transition-duration: 500ms;
}

.project:hover .git {
	opacity: 1;
	position: absolute;
}
.clip-path {
	clip-path: polygon(0 0, 100% 0, 100% 83%, 95% 100%, 0 100%, 0% 100%);
}

.clip-path3 {
	clip-path: polygon(95% 0, 100% 38%, 100% 100%, 75% 100%, 5% 100%, 0 72%, 0 0);
}

.cybr-btn {
	--primary: rgba(
		255,
		255,
		255,
		0.096
	); /* Cambia el color de fondo a transparente */
	--color: hsl(0, 0%, 100%);
	--primary-hue: 0;
	--primary-lightness: 50;
	--color: hsl(0, 0%, 100%);
	--font-size: 26px;
	--shadow-primary-hue: 180;
	--label-size: 9px;
	--shadow-secondary-hue: 60;
	--shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
	--clip: polygon(
		0 0,
		100% 0,
		100% 100%,
		95% 100%,
		95% 90%,
		85% 90%,
		85% 100%,
		8% 100%,
		0 70%
	);
	--border: 4px;
	--shimmy-distance: 5;
	--clip-one: polygon(
		0 2%,
		100% 2%,
		100% 95%,
		95% 95%,
		95% 90%,
		85% 90%,
		85% 95%,
		8% 95%,
		0 70%
	);
	--clip-two: polygon(
		0 78%,
		100% 78%,
		100% 100%,
		95% 100%,
		95% 90%,
		85% 90%,
		85% 100%,
		8% 100%,
		0 78%
	);
	--clip-three: polygon(
		0 44%,
		100% 44%,
		100% 54%,
		95% 54%,
		95% 54%,
		85% 54%,
		85% 54%,
		8% 54%,
		0 54%
	);
	--clip-four: polygon(
		0 0,
		100% 0,
		100% 0,
		95% 0,
		95% 0,
		85% 0,
		85% 0,
		8% 0,
		0 0
	);
	--clip-five: polygon(
		0 0,
		100% 0,
		100% 0,
		95% 0,
		95% 0,
		85% 0,
		85% 0,
		8% 0,
		0 0
	);
	--clip-six: polygon(
		0 40%,
		100% 40%,
		100% 85%,
		95% 85%,
		95% 85%,
		85% 85%,
		85% 85%,
		8% 85%,
		0 70%
	);
	--clip-seven: polygon(
		0 63%,
		100% 63%,
		100% 80%,
		95% 80%,
		95% 80%,
		85% 80%,
		85% 80%,
		8% 80%,
		0 70%
	);
	font-family: 'Cyber', sans-serif;
	backdrop-filter: blur(4px);
	color: var(--color);
	cursor: pointer;
	text-transform: uppercase;
	font-size: var(--font-size);
	outline: transparent;
	letter-spacing: 2px;
	position: relative;
	font-weight: 700;
	border: 0;
	min-width: 140px;

	line-height: 75px;
	transition: background 0.2s;
}

.cybr-btn:hover {
	--primary: hsl(
		var(--primary-hue),
		85%,
		calc(var(--primary-lightness, 50) * 22.8%)
	);
}
.cybr-btn:active {
	--primary: hsl(
		var(--primary-hue),
		85%,
		calc(var(--primary-lightness, 50) * 0.6%)
	);
}

.cybr-btn:after,
.cybr-btn:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	clip-path: var(--clip);
	z-index: -1;
}

.cybr-btn:before {
	background: var(--shadow-primary);
	transform: translate(var(--border), 0);
}

.cybr-btn:after {
	background: var(--primary);
}

.cybr-btn__tag {
	position: absolute;
	padding: 1px 4px;
	letter-spacing: 1px;
	line-height: 1;
	bottom: -5%;
	right: 5%;
	font-weight: normal;
	color: hsl(0, 0%, 0%);
	font-size: var(--label-size);
}

.cybr-btn__glitch {
	position: absolute;
	top: calc(var(--border) * -1);
	left: calc(var(--border) * -1);
	right: calc(var(--border) * -1);
	bottom: calc(var(--border) * -1);
	background: var(--shadow-primary);
	text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
	clip-path: var(--clip);
	animation: glitch 2s infinite;
	display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
	color: black;
	display: block;
}

.cybr-btn__glitch:before {
	content: '';
	position: absolute;
	top: calc(var(--border) * 1);
	right: calc(var(--border) * 1);
	bottom: calc(var(--border) * 1);
	left: calc(var(--border) * 1);
	clip-path: var(--clip);
	background: var(--primary);
	z-index: -1;
}

@keyframes glitch {
	0% {
		clip-path: var(--clip-one);
	}
	2%,
	8% {
		clip-path: var(--clip-two);
		transform: translate(calc(var(--shimmy-distance) * -1%), 0);
	}
	6% {
		clip-path: var(--clip-two);
		transform: translate(calc(var(--shimmy-distance) * 1%), 0);
	}
	9% {
		clip-path: var(--clip-two);
		transform: translate(0, 0);
	}
	10% {
		clip-path: var(--clip-three);
		transform: translate(calc(var(--shimmy-distance) * 1%), 0);
	}
	13% {
		clip-path: var(--clip-three);
		transform: translate(0, 0);
	}
	14%,
	21% {
		clip-path: var(--clip-four);
		transform: translate(calc(var(--shimmy-distance) * 1%), 0);
	}
	25% {
		clip-path: var(--clip-five);
		transform: translate(calc(var(--shimmy-distance) * 1%), 0);
	}
	30% {
		clip-path: var(--clip-five);
		transform: translate(calc(var(--shimmy-distance) * -1%), 0);
	}
	35%,
	45% {
		clip-path: var(--clip-six);
		transform: translate(calc(var(--shimmy-distance) * -1%));
	}
	40% {
		clip-path: var(--clip-six);
		transform: translate(calc(var(--shimmy-distance) * 1%));
	}
	50% {
		clip-path: var(--clip-six);
		transform: translate(0, 0);
	}
	55% {
		clip-path: var(--clip-seven);
		transform: translate(calc(var(--shimmy-distance) * 1%), 0);
	}
	60% {
		clip-path: var(--clip-seven);
		transform: translate(0, 0);
	}
	31%,
	61%,
	100% {
		clip-path: var(--clip-four);
	}
}

.cybr-btn:nth-of-type(2) {
	--primary-hue: 260;
}
.text-stroke {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.type {
	width: max-content;
}

.type p {
	animation: typing 1s steps(24), blink 0.5s step-end infinite alternate;
	overflow: hidden;
	white-space: nowrap;
	border-right: 2px solid black;
	border-color: white;
}

@keyframes typing {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}
